@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Source+Sans+Pro:200,400,600');

:root {
  --font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --gray-dark: #404040;

  /* Page Variables */
  --font-family-serif: Merriweather, serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family--serif);
}

.family-sans {
  font-family: var(--font-family-sans-serif);
}

body {
  font-family: var(--font-family-serif);
  color: var(--color-text);
  font-weight: 200;
  padding: 10px;
  font-family: sans-serif;
}
/* img {
  height: 200px;
  width: 200px;
} */
.card-img-top {
  max-height: 250px;
}
.card {
  min-height: 200px;
  max-height: 500px;
}
